<h3>Welcome to Postit!</h3>




<ul><% @posts.each do |post| %>
 <div class="well"
<li>
    <% if logged_in? %>
    (<%= link_to '<i class="icon-thumbs-up"></i>'.html_safe, vote_post_path(post, vote: true), method: 'post', remote: true %>
    <% end %>
    

    <span id="post_<%=post.id%>_votes"><%= post.total_votes %></span>
    

    <% if logged_in? %>
    <%= link_to '<i class="icon-thumbs-down"></i>'.html_safe, vote_post_path(post, vote: false), method: 'post',remote: true %>)
    <% end %>


    <%= link_to post.title, post_path(post) %>  
    by <%= post.creator.username %>
   <small>[<%=link_to 'link', fix_url(post.url) %>]</small>
    post at <%= display_datetime(post.created_at) %>
    <% if logged_in? %>
    <%= link_to 'Edit', edit_post_path(post) %>
    <% end %>
</li>
</div>
<% end %>
</ul>





